# Ignore all dotfiles/dotdirs by default
.*
!.cargo/
!.envrc
!.github/
!.gitignore
!.rustfmt.toml

*/.zig-cache/*
*/zig-out/*
*/node_modules/
*/dist/
*.diff
Cargo.lock

# Build artifacts
target/

# Runtime data directory
data/

# Third party downloaded dependencies
third_party/

# CDK generated JavaScript files (keep TypeScript sources and Lambda JS)
vpc/fractalbits-cdk/bin/*.js
infra/aws-cdk/cdk.context.json
infra/gcp-terraform/.terraform/
infra/gcp-terraform/.terraform.lock.hcl
vpc/fractalbits-cdk/lib/*.js
!vpc/fractalbits-cdk/lib/lambda/**/*.js
vpc/fractalbits-cdk/test/*.js
